
.app {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    padding: 20px;
}

.page {
    flex: 1;
    margin: 10px;
    padding: 80px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.page:hover {
    transform: scale(1.05);
}
